<!DOCTYPR html>
<html>
<head>

</head>
<body>
<form method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit"></button>
</form>
</body>
</html>