<div class="modal fade" id="myModal_updatePass" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" >
                        Update Your Password
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock">(old)</span></span>
                        <input class="form-control" name="oldPassword" type="password">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock">(new)</span></span>
                        <input class="form-control" name="password" type="password">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock">(repeat)</span></span>
                        <input class="form-control" name="password_confirm" type="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close
                    </button>
                    <button typr="submit" class="btn btn-primary" formaction="/updatePassword">
                        Login
                    </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>