<!DOCTYPR html>
<html>
<head>

</head>
<body>

<form method="post">
    <input type="password" name="oldPassword"><br>
    <input type="password" name="password"><br>
    <input type="password" name="password_confirm"><br>
    <button type="submit"></button>
</form>
</body>
</html>