<html>
<head>

</head>
<body>
<form method="post">
    <input type="text" name="title"><br>
    <input type="text" name="body"><br>
    <input type="text" name="tag1"><br>
    <input type="checkbox" name="visitable">
    <button type="submit"></button>
</form>
</body>
</html>